hr{
    border: none;
    border-top: 2px solid rgb(255, 216, 0);
    margin: 20px 0;
}

.paragraph-header{
    font-weight: bold;
    margin-top: 20px;
    font-size: 22px;
    margin-bottom: 15px;
}